src/main/resources/xsd/cancelOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

<xsd:element name="CancelOrder">
<xsd:complexType>
  <xsd:sequence>
    <xsd:element name="orderNumber" type="xsd:int"/>
    <xsd:element name="reason" type="xsd:string"/>
  </xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>